table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #d3caca;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d3caca;
}
Icon {
  font-size: 100px;
}
