table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #ffffff;
  border-bottom: 2px solid rgb(240, 236, 236);
}
Icon {
  font-size: 60px;
}
.pagination-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.pagination-btn div {
  display: flex;
  align-items: center;
}
.pagination-btn select {
  padding: 5px;
}
.pagination-btn button {
  padding: 10px;
  width: 100px;
  cursor: pointer;
  display: inline;
}
