.contact-us {
    display: flex;
    margin: 10px 5% 10px 5%;
}

.contact-left {
    width: 50%;
}

.contact-form {
    width: 50%;
}

.contact-left {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.contact-text h1 {
    color: #f05146;
    font-size: 35px;
    display: block;
    text-align: left;
    padding-left: 50px;
}

.contact-text {
    height: 20%;
}

.contact-image {
    height: 80%;
}

.contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-inputs {
    display: flex;
    gap: 20px;
}